{
    "global_caldav_username" : "",
    "global_caldav_password" : "",
    "global_github_token" : "",    
    "sync_interval" : 10,
    "syncs" : [
        {
            "calendar_url_active" : "",
            "calendar_url_active_and_backlog" : "",
            "calendar_url_active_and_closed" : "",            
            "calendar_url_active_and_backlog_and_closed" : "",
            "repository_name": "",
            "project_name" : ""
        }
    ]
}